<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>MyQuotes - Nouvelle quote</title>
</head>
<body>

	<div layout:fragment="content">
		<section class="my-5">
			<div class="container">
				<h1>En avant pour une nouvelle quote historique !</h1>
				</br>
				<form th:action="@{/secure/savequote}" th:object="${quote}" method="post"> 


					<div class="form-group">
						<label for="privee">quote privee ?</label> <input type="checkbox" th:field="*{privee}" th:readonly="*{privee}" >
						<div th:if="${#fields.hasErrors('privee')}" class="alert alert-danger">champs privee obligatoire</div>
					</div>
					
					<div class="form-group">
						<label for="titre">titre:</label> <input th:field="*{titre}" th:readonly="*{titre}" class="form-control">
						<div th:if="${#fields.hasErrors('titre')}" class="alert alert-danger">titre obligatoire</div>
					</div>
					
					<div class="form-group">
						<label for="value">quote:</label> <input th:field="*{value}" th:readonly="*{value}" class="form-control">
						<div th:if="${#fields.hasErrors('value')}" class="alert alert-danger">quote obligatoire</div>
					</div>
					
					<div class="form-group">
						<label for="contexte">contexte:</label> <input th:field="*{contexte}" th:readonly="*{contexte}" class="form-control">
						<div th:if="${#fields.hasErrors('value')}" class="alert alert-danger">contexte obligatoire</div>
					</div>
					
					<div class="form-group">
						<label for="lieu">lieu:</label> <input th:field="*{lieu}" th:readonly="*{lieu}" class="form-control">
						<div th:if="${#fields.hasErrors('lieu')}" class="alert alert-danger">lieu obligatoire</div>
					</div>
					
					<div class="form-group">
						<label for="dtEvenement">date de l'evenement:</label> <input type="date" class="form-control" th:field="*{dtEvenement}" required>
						<div th:if="${#fields.hasErrors('dtEvenement')}" class="alert alert-danger">date de l'évenement</div>
					</div> 
					
					<div class="form-group">
						<label for="auteur">auteur:</label> <select class="form-control" th:field="*{auteur}"  id="auteur">
    					<!-- 	<option value="0">Choisissez un auteur</option> -->
    						<option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.nickname}"></option>
    					</select>					
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-outline-success">enregistrer</button>
						<a th:href="@{/index}" class="btn btn-outline-warning">annuler</a>
					</div>



					<!-- <p th:if="${#fields.hasErrors('dtNaiss')}" th:errors="*{dtNaiss}" th:class="'error'">something</p> -->

				</form>
			</div>
		</section>
	</div>
</body>
</html>