/* body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;} */

.author
{
  float:left;
  clear:both;
}

.dddate
{
  float:right;
  clear:both;
}

.avatar-quote
{
  float:right;
}

.titre
{
  color:blue;
}

blockquote
{
  position:relative;
  font-family:"Segoe Print", "Times New Roman", Verdana;
  padding:8px;
  margin:8px 8px 8px 180px;
  color:black;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  background:white;
  border:2px solid black;
  min-height:64px;
}

blockquote:after 
{
  content:"";
  position:absolute;
  left:-48px; 
  display:block; 
  top:48px; 
  background: url('https://www.xul.fr/css/images/bubble.png') no-repeat;
  width:48px;
  height:20px;
  padding:0;
}

.topright {
	position: absolute;
	top: 8px;
	right: 16px;
	font-size: 18px;
}

.dropdown {
    .dropdown-menu {
        transition: all 0.5s;
        overflow: hidden;
        transform-origin: top center;
        transform: scale(1,0);
        display: block;
    }
    &:hover {
        .dropdown-menu {
            transform: scale(1);
        }
    }
}

.XXXXX {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}


/* --------------------*/
  