/* body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;} */

blockquote
{
  font-style:normal;
  margin-left:32px;
  font-family:"Segoe Print", "Times New Roman", Verdana;
  padding-left: 48;
  background:url('/css/images/blockquote.png');
  background-repeat:no-repeat;
  min-height: 30px;  
}

.topright {
	position: absolute;
	top: 8px;
	right: 16px;
	font-size: 18px;
}

.dropdown {
    .dropdown-menu {
        transition: all 0.5s;
        overflow: hidden;
        transform-origin: top center;
        transform: scale(1,0);
        display: block;
    }
    &:hover {
        .dropdown-menu {
            transform: scale(1);
        }
    }
}




/* --------------------*/
  